/[^.]*
.android
.bloom*
.cache
.compiz
.config
.cordova
.dbus
.debug
.eclipse
.env*
.erlang.*
.gnome
.gradle
.hg
.ipython
.local
.m2
.mozilla
.node-gyp
.npm
.pip
.pki
.ros
.ssh
.vim/bundle
.w3m
.Xauthority
.*history
