[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = input

[alias]
  branches = branch -a
  brs = branch -a
  br = branch
  remotes = remote -v
  rems = remote -v
  rem = remote
  stashes = stash list
  sts = stash list
  sta = stash
  tags = tag
  showf = show --first-parent
  showm = show -m
  summary = show --summary
  sum = show --summary
  st = status
  slog = log --oneline
  mlog = log --format=format:'%C(yellow)%h %C(white)%s %Cgreen(%ar by %an) %Cred%d'

  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  amend = commit --amend
  co = checkout
  fetchp = fetch --prune
  desc = describe --tags

  hgrep = log --format=format:'%h' -i --grep
  slogg = log --oneline -i --grep
  mlogg = log --format=format:'%C(yellow)%h %C(white)%s %Cgreen(%ar by %an) %Cred%d' -i --grep
  showg = "!f() { git show `git hgrep \"$1\"`; }; f"
  showfg = "!f() { git show --first-parent `git hgrep \"$1\"`; }; f"
  showmg = "!f() { git show -m `git hgrep \"$1\"`; }; f"
  sumg = "!f() { git show --summary `git hgrep \"$1\"`; }; f"
  descg = "!f() { git describe --tags `git hgrep \"$1\"`; }; f"

  nevermind = !git reset --hard HEAD && git clean -d -f
  nvm = !git reset --hard HEAD && git clean -d -f

  graph = log --graph -1000 --branches --remotes --tags --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d'
  graph2 = log --graph -1000 --branches --remotes --tags --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d' --date-order

  precommit = diff --cached --diff-algorithm=minimal -w

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false

[pull]
  rebase = preserve

[push]
  default = simple

[rebase]
  autoStash = true

[diff]
  renames = copies

[commit]
  #gpgsign = true

[user]
  #name = Patrick Chin
  #email = patrickcjh@gmail.com
  #signingkey = 58A0C0DF

[url "https://github.com/"]
  insteadOf = gh:

[url "https://gitlab.com/"]
  insteadOf = gl:
